/* selettori preliminari */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* /selettori preliminari */

/* classi generiche */

.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

ul.ms-ul-nostyle {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
ul.ms-ul-nostyle > li > * {
    text-decoration: none;
    color: grey;
}
ul.ms-ul-nostyle > li:not(:last-child) > * {
    margin-right: 10px;
}

ul.ms-ul-uppercase > li > * {
    text-transform: uppercase;
}
ul.ms-ul-capitalize > li > * {
    text-transform: capitalize;
}

button.ms-button {
    padding: 5px 10px;
    border-radius: 20px;
}

/* /classi generiche */

/* id o selettori specifici */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: yellow;
}

#nav-right > ul > li {
    display: flex;
    align-items: center;
    position: relative;
}

#nav-right .ms-menu-mouseover {
    position: absolute;
    top: 100%;
}
#nav-right .ms-menu-mouseover > ul {
    display: flex;
    flex-direction: column;
}

/* /id o selettori specifici */

/* mediaquery */



/* /mediaquery */