/* selettori preliminari */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* /selettori preliminari */

/* classi generiche */

.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

ul.ms-ul-nostyle {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
ul.ms-ul-nostyle > li > a {
    text-decoration: none;
    color: grey;
}
ul.ms-ul-nostyle > li:not(:last-child) > * {
    margin-right: 10px;
}

ul.ms-ul-uppercase > li > * {
    text-transform: uppercase;
}
ul.ms-ul-capitalize > li > * {
    text-transform: capitalize;
}

button.ms-button {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(235 0 141);
    color: white;
}

/* /classi generiche */

/* id o selettori specifici */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;
    font-size: 12px;
}

#nav-left .logo {
    height: 80px;
}

[id^='nav-'] > ul > li {
    display: flex;
    align-items: center;
    position: relative;
}
#nav-right > ul > li:hover {
    cursor: pointer;
}

#nav-right .ms-menu-mouseover {
    display: none;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    box-shadow: 0 0 10px lightgrey;
    background-color: white;
}
#nav-right .ms-menu-mouseover > ul {
    display: flex;
    flex-direction: column;
}
#nav-right .ms-menu-mouseover > ul > li {
    position: relative;
    margin: 10px;
    padding: 10px;
}

#nav-right .ms-tag {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
}
#nav-right .ms-tag-new {
    color: rgb(235 0 141);
    font-weight: bold;
}

/* /id o selettori specifici */

/* cose che vanno scritte dopo perchè vanno a sovrascrivere */

#nav-right .active-block { /* tengo lo stesso livello di specificità della caratteristica che vado a modificare. ho voluto inserire tutto in un id perchè penso che questo tipo di menu per certi versi sia unico */
    display: block;
}

/* /cose che vanno scritte dopo perchè vanno a sovrascrivere */

/* mediaquery */



/* /mediaquery */